.file-content {
	display: block;
	height: calc(100% - 30px);
	margin: 1px;
	padding: 15px 25px;

	background-color: #FFFFFF;
}

.file-content-image {
	display: inline-block;
	width: 100%;
	height: 100%;

	object-fit: contain;
}