.file {
	display: block;
	margin: 1px;
	padding: 15px 25px;

	background-color: #FFFFFF;
}

.file-icon-container {
	display: inline-block;
	width: 3em;
	height: 2em;
	vertical-align: middle;
}
.file-icon {
	width: auto;
	height: 100%;

	opacity: 0.3;
}

.file-name {
	display: inline-block;
	vertical-align: middle;

	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	color: #DB3207;
}
.file:hover .file-name {
	border-bottom: 0.1em solid #DDD;
	padding-top: 0.1em;
}

.file-dir:before {
	content: "\203A"; /* right arrow */
	float: right;
	font-size: 25px;
	color: #999;
	font-family: Tahoma;
}