.file-content {
	display: block;
	height: calc(100% - 32px);
	margin: 1px;
	padding: 15px 25px;

	background-color: #FFFFFF;
}

.file-content-image {
	display: inline-block;
	width: 100%;
	height: 100%;

	object-fit: scale-down;
}
.file-content-text {
	display: inline-block;
	width: 100%;
	height: 100%;

	line-height: 1.2em;
	font-size: 16px;
	font-family: 'Courier New', monospace;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.file-content-video {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.file-content-music {
	display: inline-block;
	width: 100%;
}

.file-content-error {
	display: inline-block;
	width: 100%;
	height: calc(100% - 100px);
	padding-top: 100px;

	text-align: center;
	color: #B2B2B2;

	line-height: 1.2em;
	font-weight: lighter;
	font-size: 45px;
	letter-spacing: -0.5px;
	font-family: 'Roboto', sans-serif;
}