html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: #F5F5F5;
}

.main {
	display: flex;
	flex-direction: column;

	width: 778px;
	height: calc(100% - 28px);
	margin: 0 auto;
	padding: 14px 0;
}

.main-files {
	height: 100%;
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
}