.path {
	display: block;

	margin: 0 auto 9px;
	padding-top: 7px;
	padding-left: 22px;

	line-height: 1.2em;
	font-weight: lighter;
	font-size: 45px;
	letter-spacing: -0.5px;
	font-family: 'Roboto', sans-serif;
}

.path a {
	text-decoration: none;
	color: #DB3207;
}
.path a:hover {
	border-bottom: 0.1em solid #DDD;
}